:root {
	--bs-font-sans-serif: 'Montserrat';
	--bs-heading-color: #000000;
	--bs-body-color: #000000;
	--bs-danger-rgb: 255, 120, 54;
	--bs-primary-rgb: 15, 140, 199;
	--bs-warning-rgb: 231, 165, 0;
	--bs-dark-rgb: 0, 0, 0;
	--bs-gradient: linear-gradient(
		315deg,
		rgba(255, 227, 210, 1) 0%,
		rgba(242, 233, 230, 1) 43%,
		rgba(234, 246, 253, 1) 100%
	);
	--wfm-transition: all 0.25s linear;
	--wfm-btn-icon-size: 1.25rem;
	--wfm-placeholder-color: #00000030;
}

.mt-n5 {
	margin-top: -3rem !important;
}

.fw-bolder {
	font-weight: 800 !important;
}

.bg-blur {
	backdrop-filter: blur(20px);
}

.form-control {
	--bs-border-radius: 0;
	--bs-border-width: 0;
	&:focus {
		box-shadow: none;
	}
}

body {
	padding-top: 5rem;
}

.blend-mode-screen {
	mix-blend-mode: screen;
}

/* Button */
.btn {
	--bs-btn-border-radius: 0;
	--bs-border-width: 0;
	--bs-btn-padding-x: 2.5rem;
	--bs-btn-padding-y: 0.75rem;
	--bs-btn-font-size: 0.875rem;
	--bs-btn-font-weight: 600;
	transition: var(--wfm-transition);
	white-space: nowrap;
}

.btn {
	img {
		width: var(--wfm-btn-icon-size);
		height: var(--wfm-btn-icon-size);
		position: absolute;
		left: auto;
		top: auto;
		transform: translateX(calc(var(--wfm-btn-icon-size) * -2));
		opacity: 0;
		visibility: hidden;
		transition: var(--wfm-transition);
	}
	&:hover {
		padding-left: calc(var(--bs-btn-padding-x) - var(--wfm-btn-icon-size) / 2);
		padding-right: calc(var(--bs-btn-padding-x) + var(--wfm-btn-icon-size) / 2);
		img {
			opacity: 1;
			visibility: visible;
			transform: translateX(calc(var(--wfm-btn-icon-size) / 2));
		}
	}
}

.btn-close {
	--bs-btn-close-focus-shadow: none;
}

.btn-black {
	--bs-btn-color: #fff;
	--bs-btn-bg: #000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #000000;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #000000;
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #000000;
}

.btn-gradient {
	--bs-btn-color: #fff;
	--bs-btn-bg: #d97412;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #d97412;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #d97412;
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #d97412;

	background-image: url('images/btn-gradient-bg.webp');
	background-repeat: no-repeat;
	background-position: -1px -1px;
	position: relative;
	z-index: 1;
	&::before {
		content: '';
		width: 100%;
		height: 100%;
		display: block;
		position: absolute;
		left: 0;
		top: 0;
		z-index: -1;
		background-color: rgba(0, 0, 0, 0.05);
		transition: var(--wfm-transition);
	}
	&:hover {
		&::before {
			backdrop-filter: blur(5px);
		}
	}
}

/* Card */
.card {
	--bs-card-border-width: 0;
	--bs-card-border-radius: 0;
	--bs-card-spacer-y: 2.5rem;
	--bs-card-spacer-x: 2.5rem;
	--bs-card-title-color: #000;
}

.card-icon {
	svg {
		width: 50px;
		height: auto;
	}
}

/* Section heading */
.section-heading {
	p:first-child {
		opacity: 0.05;
	}
}

/* Story carousel */
.story-carousel {
	.owl-nav {
		position: absolute;
		left: 0;
		width: 100%;
		top: calc(50% - 4.5rem);
		display: flex;
		justify-content: space-between;
	}

	&.owl-carousel .owl-nav button.owl-next,
	&.owl-carousel .owl-nav button.owl-prev {
		border: 1px solid #00000020;
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
		color: #00000020;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.owl-carousel .owl-nav button span {
		font-size: 2rem;
		margin-top: -5px;
	}

	&.owl-carousel .owl-nav button.owl-next {
		transform: translateX(3rem);
	}

	&.owl-carousel .owl-nav button.owl-prev {
		transform: translateX(-3rem);
	}
}

/* Newsletter section */
.subscriber-form {
	.form-control {
		height: 3.5rem;
		--bs-body-color: #00000050;
		&::placeholder {
			color: var(--wfm-placeholder-color);
		}
	}
	.form-control[type='email'] {
		background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyMCIgaGVpZ2h0PSIxNSIgZmlsbD0ibm9uZSIgeG1sbnM6dj0iaHR0cHM6Ly92ZWN0YS5pby9uYW5vIj48cGF0aCBkPSJNMTguMzMzIDIuNUExLjY3IDEuNjcgMCAwIDAgMTYuNjY3LjgzM0gzLjMzM0ExLjY3IDEuNjcgMCAwIDAgMS42NjcgMi41bTE2LjY2NyAwdjEwYTEuNjcgMS42NyAwIDAgMS0xLjY2NyAxLjY2N0gzLjMzM0ExLjY3IDEuNjcgMCAwIDEgMS42NjcgMTIuNXYtMTBtMTYuNjY3IDBMMTAgOC4zMzMgMS42NjcgMi41IiBzdHJva2U9IiMxZTFlMWU1MCIgc3Ryb2tlLXdpZHRoPSIxLjY2NyIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIi8+PC9zdmc+');
		background-repeat: no-repeat;
		background-position: left 1rem center;
	}
	.btn {
		height: 3.5rem;
		font-size: 1.125rem;
		img {
			margin-top: 3px;
		}
	}
}

/* Navbar */
.navbar {
	--bs-navbar-padding-y: 1rem;
	--bs-navbar-active-color: rgb(var(--bs-danger-rgb));
}

.navbar-nav {
	--bs-navbar-color: #000000;
}

.navbar-toggler {
	--bs-border-width: 0;
	--bs-navbar-toggler-border-radius: 0;
	--bs-navbar-toggler-font-size: 0.75rem;
	&:focus {
		box-shadow: none;
	}
}

.nav-link {
	--bs-nav-link-font-size: 1rem;
}

/* Hero section */
.hero-title {
	line-height: 0.75;
	white-space: nowrap;
}
.hero-title-primary {
	font-size: calc(100vw / 6);
}
.hero-title-secondary {
	font-size: calc(100vw / 10);
}

/* Header */
header {
	.offcanvas-body {
		.nav-link {
			transition: var(--wfm-transition);
			&.active,
			&.show,
			&:hover {
				color: rgb(var(--bs-danger-rgb)) !important;
			}
		}
	}
}

#newsletter {
	margin-top: -8.5rem;
}

#our_guarantee {
	padding-bottom: 8.5rem !important;
}

.display-5 {
	font-size: calc(1rem + 2.1vw);
}

.display-6 {
	font-size: calc(0.5rem + 1.5vw);
}

@media (min-width: 768px) {
	.section-heading {
		p:first-child {
			white-space: nowrap;
		}
		p:nth-child(2) {
			transform: translateY(-1.75rem);
		}
	}
	.featured-image {
		margin-top: -1rem;
	}
}

@media (min-width: 1200px) {
	.section-heading {
		p:first-child {
			font-size: 6rem;
		}
	}
	.featured-image {
		margin-top: -1.5rem;
	}
	.display-5 {
		font-size: 3rem;
	}

	.display-6 {
		font-size: 2.5rem;
	}
}

@media (min-width: 1400px) {
	.hero-title-primary {
		font-size: 20rem;
	}
	.hero-title-secondary {
		font-size: 12rem;
	}
}
