:root {
	--bs-font-sans-serif: 'Montserrat';
	--bs-heading-color: #000;
	--bs-gradient: linear-gradient(
		315deg,
		rgba(255, 227, 210, 1) 0%,
		rgba(242, 233, 230, 1) 43%,
		rgba(234, 246, 253, 1) 100%
	);
	--wfm-transition: all 0.25s linear;
	--wfm-btn-icon-size: 1.25rem;
}

.mt-n5 {
	margin-top: -3rem !important;
}

.fw-bolder {
	font-weight: 800 !important;
}

/* Button */
.btn {
	--bs-btn-border-radius: 0;
	--bs-border-width: 0;
	--bs-btn-padding-x: 2.5rem;
	--bs-btn-padding-y: 0.75rem;
	--bs-btn-font-size: 0.875rem;
	--bs-btn-font-weight: 600;
	transition: var(--wfm-transition);
	white-space: nowrap;
}

.btn {
	img {
		width: var(--wfm-btn-icon-size);
		height: var(--wfm-btn-icon-size);
		position: absolute;
		left: auto;
		top: auto;
		transform: translateX(calc(var(--wfm-btn-icon-size) * -2));
		opacity: 0;
		visibility: 0;
		transition: var(--wfm-transition);
	}
	&:hover {
		padding-left: calc(var(--bs-btn-padding-x) - var(--wfm-btn-icon-size) / 2);
		padding-right: calc(var(--bs-btn-padding-x) + var(--wfm-btn-icon-size) / 2);
		img {
			opacity: 1;
			visibility: visible;
			transform: translateX(calc(var(--wfm-btn-icon-size) / 2));
		}
	}
}

.btn-black {
	--bs-btn-color: #fff;
	--bs-btn-bg: #000000;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #000000;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #000000;
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #000000;
}

.btn-gradient {
	--bs-btn-color: #fff;
	--bs-btn-bg: #d97412;
	--bs-btn-hover-color: #fff;
	--bs-btn-hover-bg: #d97412;
	--bs-btn-active-color: #fff;
	--bs-btn-active-bg: #d97412;
	--bs-btn-disabled-color: #fff;
	--bs-btn-disabled-bg: #d97412;

	background-image: url('images/btn-gradient-bg.png');
	background-repeat: no-repeat;
	background-position: -1px -1px;
	&:hover {
		background-image: url('/images/btn-gradient-bg-blured.png');
	}
}

/* Card */
.card {
	--bs-card-border-width: 0;
	--bs-card-border-radius: 0;
	--bs-card-spacer-y: 2.5rem;
	--bs-card-spacer-x: 2.5rem;
	--bs-card-title-color: #000;
}

.card-icon {
	svg {
		width: 50px;
		height: auto;
	}
}

/* Section heading */
.section-heading {
	p:first-child {
		opacity: 0.05;
		white-space: nowrap;
	}
}

@media (min-width: 768px) {
	.section-heading {
		p:nth-child(2) {
			transform: translateY(-1.75rem);
		}
	}
}

@media (min-width: 1200px) {
	.section-heading {
		p:first-child {
			font-size: 6rem;
		}
	}
}

/* Story carousel */
.story-carousel {
	.owl-nav {
		position: absolute;
		left: 0;
		width: 100%;
		top: calc(50% - 4.5rem);
		display: flex;
		justify-content: space-between;
	}

	&.owl-carousel .owl-nav button.owl-next,
	&.owl-carousel .owl-nav button.owl-prev {
		border: 1px solid #00000020;
		width: 2rem;
		height: 2rem;
		border-radius: 100%;
		color: #00000020;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	&.owl-carousel .owl-nav button span {
		font-size: 2rem;
		margin-top: -5px;
	}

	&.owl-carousel .owl-nav button.owl-next {
		transform: translateX(3rem);
	}

	&.owl-carousel .owl-nav button.owl-prev {
		transform: translateX(-3rem);
	}
}
